header {
    width: 100%;
    height: 50vh;
    background-color: transparent;
    text-align: center;
    padding-top: 17vh;
    position: relative;
    background-color: black;
}

body {
    text-align: center;
}

.info section {
    background-color: #4781a5;
    margin-right: 1vw;
    height: 90%;
    display: none;
}

.info-desc {
    font-size: 1.25vh;
    padding: 0 .5vw;
    font-family: "Mulish", sans-serif;
    color: #e2e2e2;
}

.info-img {
    width: 90%;
    margin: 5% 5%;
    height: 50%;
    object-fit: cover;
}

header h1 {
    color: white;
    font-size: 12vh;
    font-family: 'Noto Serif';
    z-index: 10;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding: none;
    bottom: 0;
}

header h4 {
    font-family: "Noto Serif", sans-serif;
    font-size: 2vh;
    z-index: 20;
    position: relative;
    padding: none;
    margin: 0 auto;
    top: -6vh;
}

#carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(90%);
}

header:hover .switch-button {
    opacity: 1;
}

.switch-button {
    display: block;
    position: absolute;
    color: white;
    top: 20vh;
    font-size: 4vh;
    opacity: 0;
    transition: 0.3s opacity ease-in;
    cursor: pointer;
    user-select: none;
}

.left {
    left: 1vw;
}

.right {
    right: 1vw;
}

.grey-bar {
    width: 100%;
    height: 1vh;
    background-color: rgb(200, 200, 200);
}

.blue-bar {
    width: 100%;
    height: 1vh;
    background-color: #4781a5;
}

.desc {
    font-family: "Noto Serif", serif;
    width: 100%;
    text-align: center;
    margin: 5vh auto;
    font-size: 2vh;
    padding: 0 1vw;
    line-height: 5vh;
}

.split-left {
    display: grid;
    grid-template-columns: 20% 50%;
    margin-left: 15%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.split-left img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 8vh;
    font-family: "Noto Serif", serif;
}

#attractions {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 5vh 0;
}

.attraction {
    width: 20vw;
    height: 40vh;
    position: relative;
}

.attraction h3 {
    font-family: "Noto Serif";
    font-size: 3vh;
    position: relative;
    z-index: 1;
    color: rgb(51, 51, 51);
}

.hr {
    border: 0;
    width: 20%;
    /* border-top: 4px dotted #4781a5; */
    background: linear-gradient(to right, #0055A4 0% 33%, #ffffff 33% 66%, #EF4135 66% 100%);
    height: 5px;
    margin: 0 auto;
}

.attraction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2vh;
    border: 1px solid rgb(231, 231, 231);
    opacity: 50%;
    transition: opacity .3s;
}

.attraction:hover img {
    opacity: 1;
}

.learn-more {
    width: 40%;
    height: 10%;
    background-color: white;
    z-index: 2;
    position: relative;
    border: none;
    border-radius: 2vh;
    font-family: "Mulish", sans-serif;
    cursor: pointer;
    top: 60%;
    transition: background-color 0.2s, background-position 0.4s, padding-right 0.6s, border 0.2s;
    background-image: url(../assets/arrow.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    font-size: 1.3vh;
    background-position: 500px;
    border: 3px solid white;
}

.learn-more:hover {
    background-color: #d4d4d4;
    background-position: 90%;
    padding-right: 10%;
    border: 3px solid #d4d4d4;
}

.dot {
    width: 1.5vw;
    height: .45vw;
    background-color: rgba(71, 129, 165, 0.8);
    transition: background-color 0.2s;
    cursor: pointer;
    margin-left: .2vw;
    margin-right: .2vw;
}

.dot:hover {
    background-color: rgba(61, 110, 141, 0.8);
}

#dots {
    position: absolute;
    bottom: 1vh;
    width: 10%;
    left: 45%;
    display: flex;
}