@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.ttf');
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

* {
    box-sizing: border-box;
}

:root {
    --nav-color-one: #2a8cc9;
    --nav-color-one: #257cb3;
}

header {
    width: 100%;
    height: 50vh;
    background-color: transparent;
    text-align: center;
    padding-top: 17vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    text-align: center;
}

.info section {
    background-color: #4781a5;
    margin-right: 1vw;
    height: 90%;
    display: none;
}

.info-desc {
    font-size: 1.25vh;
    padding: 0 .5vw;
    font-family: "Mulish", sans-serif;
    color: #e2e2e2;
}

.info-img {
    width: 90%;
    margin: 5% 5%;
    height: 50%;
    object-fit: cover;
}

header h1 {
    color: white;
    font-size: 12vh;
    font-family: 'Noto Serif';
    z-index: 10;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding: none;
    bottom: 0;
}

.grey-bar {
    width: 100%;
    height: 1vh;
    background-color: rgb(200, 200, 200);
}

.hr {
    border: 0;
    width: 20%;
    /* border-top: 4px dotted #4781a5; */
    background: linear-gradient(to right, #0055A4 0% 33%, #ffffff 33% 66%, #EF4135 66% 100%);
    height: 5px;
    margin: 0 auto;
    margin-top: 8vh;
}

#logo {
    height: 12vh;
}

#logo img {
    height: 10vh;
    width: auto;
    margin-top: 1vh;
    cursor: pointer;
}

#logo img:hover {
    opacity: .8;
}

.dark {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}