nav {
    display: flex;
}

.nav-dropdown,
.nav-link {
    cursor: pointer;
    width: 20%;
    height: 8vh;
    background-color: white;
    text-align: center;
    font-size: 2vh;
}

.nav-text {
    background-image: linear-gradient( #2a8cc9, #257cb3);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    width: fit-content;
    margin: auto auto;
    transition: background-size 0.3s ease-in-out;
    padding-top: 2vh;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-size: 3vh;
}

.nav-dropdown:hover>.nav-text {
    background-size: 100% 3px;
}

.nav-link:hover>.nav-text {
    background-size: 100% 3px;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown:hover {
    background-color: rgb(243, 243, 243);
}

.nav-link:hover {
    background-color: rgb(243, 243, 243);
}

.nav-dropdown:hover>.nav-dropdown-content {
    display: block;
}

.nav-dropdown .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    z-index: 20;
    height: 20vh;
    top: 8vh;
    width: 100%;
}