header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.dark {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.info-split {
    display: grid;
    grid-template-columns: 20% 50%;
    margin-left: 20vw;
}


/* .info-split section:first-child {
    background-color: #c5c5c5;
} */

.info-split * {
    font-family: "Mulish", sans-serif;
}

.info-split section {
    position: relative;
    margin-top: 8vh;
}

.switch-button {
    display: block;
    position: absolute;
    color: white;
    top: 13vh;
    font-size: 4vh;
    opacity: 0;
    transition: 0.3s opacity ease-in;
    cursor: pointer;
    user-select: none;
    z-index: 1000;
}

.left {
    left: 1vw;
}

.right {
    right: 1vw;
}

#carousel {
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(90%);
    border: 1px solid grey;
    border-radius: 4px;
}

#carousel:hover .switch-button {
    opacity: 1;
}

.desc {
    width: 100%;
    margin: 0;
    font-family: "Mulish", serif;
    text-align: justify;
    line-height: 3vh;
    padding: 0 2vw;
}

.prices {
    width: 100%;
    padding: 10px;
    background-color: rgb(227, 227, 227);
    height: fit-content;
    margin: 1vh 1vw;
}

.info-split .hr {
    margin: 2vh auto !important;
}

.price {
    background-color: #4781a5;
    padding: 4px;
    border-radius: 4px;
    color: white;
    margin: 0 .3vw;
}

h4 {
    margin: 1vh;
}