header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.dark {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.info-split {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 20vw;
    width: 60vw;
}


/* .info-split section:first-child {
    background-color: #c5c5c5;
} */

.info-split * {
    font-family: "Mulish", sans-serif;
}

.info-split section {
    position: relative;
    margin-top: 8vh;
}

.switch-button {
    display: block;
    position: absolute;
    color: white;
    top: 13vh;
    font-size: 4vh;
    opacity: 0;
    transition: 0.3s opacity ease-in;
    cursor: pointer;
    user-select: none;
    z-index: 1000;
}

.left {
    left: 1vw;
}

.right {
    right: 1vw;
}

#carousel {
    width: 100%;
    height: 35vh;
    position: relative;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(90%);
    border: 1px solid grey;
    border-radius: 4px;
}

#carousel:hover .switch-button {
    opacity: 1;
}

.desc {
    width: 100%;
    margin: 0;
    font-family: "Mulish", serif;
    text-align: justify;
    line-height: 3vh;
    padding: 0 2vw;
}

.prices {
    width: 60vw;
    background-color: rgb(204, 204, 204);
    height: fit-content;
    margin-left: 20vw;
    padding-bottom: 50px;
    border-radius: 8px 8px 0 0;
}

.info-split .hr {
    margin: 2vh auto !important;
}

.price {
    background-color: #4781a5;
    padding: 4px;
    border-radius: 4px;
    color: white;
    margin: 0 .3vw;
}

h4 {
    margin: 1vh;
}

.active {
    color: gold !important;
}

.star {
    color: #2b2b2b;
    cursor: pointer;
    font-size: 3vh;
}

.ratings {
    display: grid;
    width: 60vw;
    grid-template-columns: 40% 60%;
    margin-left: 20vw;
    height: 40vh;
    border-radius: 0 0 8px 8px;
    background-color: #e2e2e2;
}

#add-ratings {
    background-color: #e2e2e2;
}

textarea {
    resize: none;
    font-family: "Mulisgh", sans-serif;
    background-color: #e6e6e6;
    border: none;
    border: 1px solid grey;
    border-top: none;
    padding: 10px;
    width: 50%;
    height: 20vh;
}

#star-container {
    width: 50%;
    margin: 0 auto;
    background-color: #e6e6e6;
    border: 1px solid grey;
    border-bottom: none;
    margin-top: 2.5vh;
    height: 5vh;
}

.bar {
    height: 10%;
    width: 80%;
    display: block;
    background-color: white;
    margin-top: 5%;
    position: relative;
    margin: 5% auto;
}

.is {
    background-color: gold;
    display: block;
    float: left;
    height: 100%;
    transition: width .5s;
}

.csc {
    position: absolute;
    width: 20%;
    left: 40%;
    font-size: 100%;
    top: 10%;
    font-family: "Mulish", sans-serif;
}

#leave-comment {
    display: block;
    margin: 0 auto;
    background-color: #57cc5d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 2vh;
}

#leave-comment:hover {
    background-color: #53b157;
}

.comment {
    max-width: 40%;
    max-height: 200px;
    font-size: 2vh;
    padding: 20px;
    background-color: white;
    display: block;
    margin: 0 auto;
}

#comments {
    width: 60vw;
    margin-left: 20vw;
    height: fit-content;
    background-color: #e0e0e0;
}